#import(clim.pact)
#import(PrecipStat)
import(fields)
import(ncdf)
#import(akima)
import(LatticeKrig)
#import(evd)

# Exports
export(estquantiles)
export(fitsimple)
export(qPCA)
export(qPCA2quantile)
export(expMC)
export(qplotMC)
export(mapofstations)
export(qcat)
export(qsubset)
export(qweed)
export(cleanduplicates)
export(dist2coast)
export(makemap)
export(modelqPCs)
export(qqatribution)
export(qqscenario)
export(qpAnywhere)
export(rqstats)
export(exploreqmodel)
export(qqsplit)
export(extract.qdata)
export(predqPCA)
export(synthPCA.qp)
export(qpextrapPCA)
export(qextrap.eval)
export(fqextr)
export(annual.max)
export(mu2q)
export(mu2extr)
export(clim2qextr)
export(qrl)
export(qextrap.test)
export(qqplotter)
export(qplotGDCN)
export(qplotESCN)
export(qplotRCM)
export(qplotres)
export(niceqqplot)
export(compare1q)
export(colorbar)
export(pointdensity)
export(Sum.is.zero)
export(Sum.gt.zero)
export(testqPCA2quantile)
export(Points)
export(Lines)
export(replace.char)
